<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name">Research supervised by Otar Akanyeti, <a class="u-email" href="mailto:ota1@aber.ac.uk">ota1@aber.ac.uk</a></li>
            <li>Project led by Tomos Fearn and Claudio Massimo Coppola</li>
            <li>Research Assistants: Bilal Fawaz, Jack Thompson, Rose Awen Brindle and William Robert Evans</li>
        </ul>
      </div>

      <div class="footer-col">
        <p>Department of Computer Science, Aberystwyth University, Wales, UK</p>
      </div>

      <!-- <div class="footer-col">
        <p>Documentation site for the Aberfish research project, which aims to explore whether fish can be used as demonstrators in Learning by Demonstration models</p>
      </div> -->
    </div>

  </div>

</footer>
